.app{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
}
.app image{
  width: 100%;
}
.weather-container{
  text-align: center;
  text-transform: uppercase;
}
input{
  color: black;
}
.search-input input:focus{
  outline: none;
}
.search-input {
  display: flex;
}